
@font-face {
  font-family: arcade;
  src: url('./data/ARCADE_N.TTF');
}

body {
  width: 99%;
  height: 100%;
  background-color: black;
  color: white;
}

.interactable-center-container {
  top: 50%;
  margin: auto;
  width: 100%;
}

.logo-container {
  margin: auto;
  width: 50%;
}

.logo {
  margin: auto;
  width: 100%;
}

.title {
  color: #FFE900;
  font-family: arcade, sans-serif;
  width: 50%;
  margin: auto;
  text-align: center;
}

.stratagem {
  color: white;
  font-family: Oxanium, sans-serif;
  width: 50%;
  margin: auto;
  padding-top: 10px;
  text-align: center;
}

.stratagems-table {
  margin-left: 47.8%;
  align-items: center;
}

.stratagem-icon {
  display: block;
  margin: auto;
}

#stratagem-icon-0 {
  opacity: 100%;
}

#stratagem-icon-1 {
  opacity: 50%;
}

#stratagem-icon-2 {
  opacity: 25%;
}

#stratagem-icon-3 {
  opacity: 12.5%;
}

.arrows-table {
  margin: auto;
  align-items: center;
}

.arrow-image {
  margin: auto;
}

.arrow-done-filter {
  filter: hue-rotate(100deg)
}

.timer-container {
  width: 50%;
  background-color: black;
  margin: auto;
}

#timer-bar {
  height: 20px;
  background-color: #FFE900;
  margin: auto;
}

#logo {
  width: 50%;
  display: block
}

#logo-container { 
  width: 30%;
  margin: auto;
  justify-content: center;

}

.footer { 
  position: absolute;
  bottom: 0;
  width: 95%;
  text-align: center;
  padding: 10px;
  font-family: Oxanium, sans-serif;
  color: #FFE900;
}
